api_key     = 'your_api_key'
max_results = 5000
retmode     = 'xml'

db_login     = 'admin'
db_password  = 'admin'
db_name      = 'pubmed'
server_name  = 'localhost'
charset      = 'utf8mb4'
conn_string  = 'mysql://{0}:{1}@{2}/{3}?charset={4}'.format(db_login, db_password, server_name, db_name, charset)